.nav {
  @include set-box(100%, 70px); 
  position: fixed;
  background-color: $bg-color;
  padding-top: 40px;
  .nav_list {
    
    .nav_btn {
      padding: 20px 0;
      text-align: center;
      color: $gray1;
      &.active {
        color: $main-color;
      }
    }
  }
}

.header {
  background: #fff;
  padding: 50px 20px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;  // 좌표값이 지정된 순간부터 고정
  top: 0;
  z-index: 999;
  .header_title {
    font-size: 1.3em;
  }
  .header_menu {

    span {
      @include set-box(36px, 36px, 18px);
      display: inline-block;
      text-align: center;
      line-height: 37px;
      cursor: pointer;

      &:hover {
        background-color: $bg-color;
        color: $main-color;
        transition: .4s;
      }
    } 
  }
}
