$bg-color: #1a1a1a;
$main-color: #f59326;
$gray1: #666;
$gray2: #ccc;
$gray3: #efefef;
$opacityBlack: rgba(0,0,0,0.2);

@mixin set-box($height, $width: 100%, $border-radius: 0) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
}

